h1{
	text-align: center;
	font-size: 24pt;
	color: blue;
}
#main{
	margin-top: 8em;
	overflow: hidden;
}
#header{
	position: fixed;
	top:0;
	width: 100%;
	height: 83px;
	text-align: center;
	font-size: 15pt;
	border: solid black;
	background-color: lightblue;
	color: white;
}
#game{
	overflow: hidden;
	margin: auto;
	width: 600px;
	height: 600px;
	border: 2px solid black;
	display: inline
}
#rightbar{
	float: right;
	width: 100px;
	height: 800px;
	overflow: hidden;
	border: 1px solid black;
	margin:5px;
}
#leftbar{
	float: left;
	width: 100px;
	height: 800px;
	overflow: hidden;
	border: 1px solid black;
	margin: 5px;
}
.gamebutton{
	float:left;
	margin:auto;
	overflow: hidden;
	background-color: lightblue;
	width: 80px;
	height: 80px;
	font-size: 8pt;
	display: block;
	border: 2px solid black;
	border-radius: 50%;
}
#rows{
	float: left;
	overflow: hidden;
	background-color: lightblue;
	width: 100px;
	height: 20px;
	font-size: 8pt;
	display: block;
	border: 2px solid black;
}
.gamebutton:hover{
	cursor: pointer;
	background-color: lightpink;
}