body{
	background-color: lightskyblue;
	font-family: "Arial", san-serif;
	font-size: 16pt;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
canvas {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
}
.gamebutton{
	background-color: lightgrey;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 9pt;
}
#play{
	background-image: url("play.png");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#reset{
	background-image: url("reset.png");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.ranges{
	margin: auto;
	margin-top:-30%;
	overflow: hidden;
	background-color: lightgrey;
	height: 20px;
	width: 40%;
	font-size: 8pt;
	border: 2px solid black;
}
.sliders
{
	margin: auto;
	margin-top:-30%;
	overflow: hidden;
	background-color: lightgrey;
	height: 20px;
	width: 70%;
	font-size: 8pt;
	border: 2px solid black;
}
.gamebutton:hover{
	cursor: pointer;
	background-color: lightgrey;
}
#buttonPanel{
	text-align: center;
	position: fixed;
	left: 20px;
	top: 75px;
	background-color: beige;
	overflow: hidden;
	z-index: 2;
	width: 100px;
	height: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 2px;
}
#info{
	background-color: beige;
	border: 5px black solid;
	font-family: "Arial", san-serif;
	font-size: 12pt;
	text-align: center;
	padding: 2%;
	border-radius: 20px;
    overflow:hidden;
}
#buttonsToggle
{
	position: fixed;
    left: 5px;
    top: 5px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-image: url(buttonToggle.png);
    background-size: 100%;
    z-index: 10;
    background-color: beige;
}